* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height:100vh;
    

}
.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor: pointer;
}
.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
}
.middlenav{
    position:relative;
    width:100%;
    height: 100vh;
    background-image:url(https://forever.travel-assets.com/flex/flexmanager/images/2022/08/02/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.png?impolicy=fcrop&w=1920&h=580&q=medium);    background-size: cover;
    background-position:center;
    
    

}
.middlenav::after{
    content: " ";
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    color:#fff;
    z-index: 1;
}
.content h1{
    color:white;
}