* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: size 20px;;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
}
